.git
.github
.env
.env.*
!.env.example
database/*.sqlite
database/*.sqlite-journal
database/*.sqlite-wal
database/*.sqlite-shm
storage/logs/*.log
storage/app/backups/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor/
node_modules/
tests/
frontend-react/node_modules/
frontend-react/dist/
.vscode/
.idea/
