/vendor
/node_modules
/public/hot
/public/storage
/public_frontend
/storage/*.key
/storage/logs/*.log
/storage/app/backups/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
.env
.env.backup
.env.production
.phpunit.result.cache
database/*.sqlite-journal
database/*.sqlite-wal
database/*.sqlite-shm
frontend-react/node_modules/
frontend-react/dist/
.vscode/
.idea/
